@import "ng-zorro-antd/ng-zorro-antd.min.css";

.nz-space-item {
  display: inline-block;
  margin-right: 8px;
}
.nz-space-item:last-child {
  margin-right: 0;
}
.back-row {
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  max-width: 250px;
}
.flex-divider {
  flex: 1;
  border: 0;
  border-top: 2px solid  #e0e8e8;
}